body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E7E8D1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

  
  .center_signup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background: white;
    border-radius: 10px;
  }

  .center_signup h1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .center_signup form{
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
  }